language: ruby

rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.10
  - 2.2.9
  - 2.3.6
  - 2.4.3
  - 2.5.0

matrix:
  allow_failures:
    - rvm: 1.9.3
    - rvm: 2.0.0

before_install:
  # this is a fix to get rng-tools to work in travis-ci
  - sudo apt-get update -qq
  - sudo apt-get install --yes rng-tools
  - sudo rm -f /dev/random
  - sudo mknod -m 0666 /dev/random c 1 9
  - echo HRNGDEVICE=/dev/urandom | sudo tee /etc/default/rng-tools
  - sudo /etc/init.d/rng-tools restart

script: travis_wait bundle exec rake TESTOPTS="-v"

after_failure:
  "find tmp -name compile.log -exec cat {} \\;"
