name: Matrix Testing

on:
  push:
    branches: [ master ]
    paths-ignore:
      - '**/*.md'
  pull_request:
    branches: [ master ]
    paths-ignore:
      - '**/*.md'

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        ruby: ['3.4', '3.3', '3.2', '3.1', '3.0', '2.7']
        use_system_libraries: [false, true]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Install libgpgme-dev
        if: ${{ matrix.use_system_libraries }}
        run: |
          sudo apt install -y libgpgme-dev
          echo "RUBY_GPGME_USE_SYSTEM_LIBRARIES=1" >> $GITHUB_ENV
      - name: Install dependencies
        run: bundle install
      - name: Run tests
        run: |
          gpg --version
          gpg2 --version
          gpgconf --list-options gpg-agent
          bundle exec rake TESTOPTS="-v"
